.content {
    min-height: 85vh;
    height: auto;
    width: auto;
    background-color:  #faedcd;
    display: flex;
    justify-content: center;
    padding-top: 30px;

    .faq-card {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: min-content;
        margin: 15px;

        .faq-card-header {
            display: flex;
            padding-bottom: 15px;
            font-size: 25px;
        }

        .faq-content {
            display: flex;
            overflow: auto;

            .accordion {
                display: flex;
                flex-direction: column;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                text-overflow: ellipsis;
            }
        }

        @media screen and (max-width: 600px) {
            width: auto;
            box-sizing: border-box;
        }
    }
    
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #c6ab8f;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #d4a373;
border-radius: 10px;
}
