<div class="content">
    <mat-card class="faq-card ">
        <mat-card-header class="faq-card-header">
            <label>
                <mat-icon>question_answer</mat-icon>
                FAQs
            </label>
        </mat-card-header>

       <div class="faq-content">
            <mat-card-content>
                <mat-accordion class="accordion">
                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{faq1}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-panel-description>{{faq1_anw}}</mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{faq2}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-panel-description>{{faq2_anw}}</mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{faq3}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-panel-description>{{faq3_anw}}</mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{faq4}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-panel-description>{{faq4_anw}}</mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{faq5}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-panel-description>{{faq5_anw}}</mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{faq6}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-panel-description>{{faq6_anw}}</mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{faq7}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-panel-description>{{faq7_anw}}</mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{faq8}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-panel-description>{{faq8_anw}}</mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{faq9}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-panel-description>{{faq9_anw}}</mat-panel-description>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
       </div>
    </mat-card>
</div>
