<div class="content">

    <mat-card class="pwd-manager">
        <mat-card-title>PassWord Manager</mat-card-title>
        <mat-card-content>
            <div class="app" *ngFor="let app of appsList">
                <mat-card>
                    <mat-card-content>
                        <span>{{app.appname}}</span>
                        <div>
                            <span >{{app.showPwd ? app.pwd : '********'}}</span>
                            <button mat-button (click)="togglePwdVisibility(app)">
                                <mat-icon>visibility_off</mat-icon>
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>

        <mat-card-footer>
        </mat-card-footer>
    </mat-card>

    <mat-card class="pwd-generator">
        <mat-card-title>Generate new password</mat-card-title>
        <mat-card-content class="generator-content">
            <div class="newAppName">
                <span>App name</span>
                <input class="inputAppName" type="text" id="newAppName">
            </div>
            <div class="generatePwd">
                <button mat-button (click)="generateNewPwd()">Generate password</button>
                <span *ngIf="newPwd" class="newPassword">{{newPwd}}</span>
            </div>
            <div class="save">
                <button mat-button (click)="saveNewPwd()" >Save</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
