<div class="Project">
  <header>
    <span>Mi Portafolio</span>
  </header>
  <nav>
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/recipies">Recetas</button>
      <button mat-button routerLink="/faq">FAQ</button>
      <button mat-button routerLink="/quiz">Quiz</button>
      <button mat-button routerLink="/pwdManager">Password Manager</button>
    </nav>
  <main>
    <router-outlet />
  </main>
  <footer>
    <div class="footer">
      <div class="about-us">
        <a href="">{{aboutUsLabel}}</a>
        
        <span>{{email}}</span>
      </div>

      <div class="lates-projects">
        <label>Latest Projects</label>
        <a href="/quiz">Quiz</a>
        <a  href="/pwdManager">Password Manager</a>
      </div>

      <div class="social-media">
        <label>Social Media</label>
        <a target="_blank" href="https://www.linkedin.com/in/diego-andres-b-b21405123/">LinkedIn</a>
        <a target="_blank" href="https://github.com/DiegoBadilloG">Git Hub</a>

      </div>
    </div>
  </footer>
</div>
