<div class="Project">
  <header>
    <span>Mi Portafolio</span>
  </header>
  <nav>
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/recipies">Recetas</button>
      <button mat-button routerLink="/faq">FAQ</button>
      <button mat-button routerLink="/quiz">Quiz</button>
      <button mat-button routerLink="/pwdManager">Password Manager</button>
    </nav>
  <main>
    <router-outlet />
  </main>
  <footer>
    <div class="footer">
      <diV class="about-us">
        <label>{{aboutUsLabel}}</label>
        <p>algo</p>
        <span>{{phone}}</span>
        <span>{{email}}</span>
      </diV>

      <div class="lates-projects">
        <label>Latest Projects</label>
        <span>Algo</span>
      </div>

      <div class="social-media">
        <label>Social Media</label>
        <span href="https://www.linkedin.com/in/diego-andres-b-b21405123/">LinkedIn</span>
        <span href="https://github.com/DiegoABGomez">Git Hub</span>

      </div>
    </div>
  </footer>
</div>
