/* Paleta de colores:
    #ccd5ae
    #e9edc9
    #fefae0
    #faedcd
    #d4a373
*/

.Project {
    height: 100vh;
    width: fit-content;
    font-family: sans-serif;

    header {
        background-color: #ccd5ae;
        padding-left: 20px;
        padding-right: 20px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    nav {
        display: flex;
        align-items: center;
        background-color: #e9edc9;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    /* main {
        height: 100vh;
        width: 100vw;;
        background-color: #fefae0;
    } */

    footer {
        background-color: #d4a373;
        padding: 20px;
    }

}
