.main-content {
    height: 100%;
    width: auto;
    background-color: rgb(13, 30, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 100px;
    

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        padding-top: 10%;
        padding-bottom: 10%;

        .intro-texto {
            display: flex;
            flex-direction: column;
            .name {
                color: rgb(97, 210, 247);
            }
            .profesion {
                font-size: 13px;
                color: lightblue;
            }
        }

        .intro-social-media {
            display: flex;
            flex-wrap: wrap;

            gap: 20px;
        }

        button {
            background-color: transparent;
            height: 30px;
            border-radius: 30px;
            color: lightblue;
            box-shadow: 2px 2px 5px  lightblue;
            transition: 0.5s;
            cursor: pointer;
        }
    
        button:hover {
            background-color: rgb(251, 251, 251, 0.2);
            height: 30px;
            border-radius: 30px;
            color: white;
            box-shadow: 2px 2px 5px  lightblue,
            2px 2px 8px  lightblue,
            2px 2px 11px  lightblue;
        }
    }

    .experiencia, .proyectosWeb, 
    .proyectos, .sobreMi, .tecnologias {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding-top: 30px;
        .title {
            color: white;
            font-size: 30px;
            font-weight: bold;
    
        }
    }

    .experiencia {
        .exp-content{
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding-top: 25px;
        }
    
        .exp-elem {
            display: flex;
            flex-direction: column;
            
            .exp-position {
                color: rgb(70, 197, 240);
                font-size: 20px;
            }
    
            .exp-company {
                color: rgb(248, 213, 200);
            }
    
            .exp-time {
                color:rgb(186, 224, 237);
                font-size: 14px;
            }
    
            .exp-descrp {
                color: white;
            }
        }
    }
    
    .proyectosWeb {
        .webProj-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            padding-top: 25px;
            .web-elem {
                display: flex;
                flex-direction: column;
                gap: 10px;
                /* flex-wrap: wrap; */
                .web-title {
                    color: rgb(249, 128, 128);
                    font-size: 15px;
                }

                .img-router {
                    background-color: transparent;
                    width: 200px;
                    border-radius: 20px;
                    border: none;
                    cursor: pointer;

                    img {
                        width: inherit;
                        height: 200px;
                        border-radius: 15px;
                        transition: 0.5s;
                    }

                    img:hover {
                        box-shadow: 3px 3px 10px lightblue,
                        3px -3px 10px lightblue,
                        -3px 3px 10px lightblue,
                        -3px -3px 10px lightblue;
                    }
                }

                
            }
        }
    }

    .proyectos {
        .proj-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding-top: 25px;

            .proj-elem {
                display: flex;
                flex-direction: column;
                
                .proj-title {
                    color: rgb(188, 130, 255);
                    font-size: 15px;
                }
        
                .proj-place {
                    color: rgb(248, 213, 200);
                }
        
                .proj-year {
                    color:rgb(186, 224, 237);
                    font-size: 15px;
                }
            }
        }
    }

    .proj-descrp, .web-descrp {
        color: white;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        text-overflow: ellipsis;
        height: auto;
        max-height: 4rem;
        min-height: 3rem;
        transition:  max-height 1s ease-in-out, min-height 1s ease-out;
    }
    .proj-descrp:hover, .web-descrp:hover {
        -webkit-line-clamp: unset; 
        line-clamp: unset;
        max-height: 40rem;
        min-height: 7.5rem;
    }

    .sobreMi {
        gap: 15px;
        .curriculum {
            display: flex;
            justify-content: center;
            gap:25px;
        }
        .curriculum-btn {
            background-color: transparent;
            height: 30px;
            border-radius: 30px;
            color: lightblue;
            box-shadow: 2px 2px 5px  lightblue;
            transition: 0.5s;
            cursor: pointer;
        }
        .curriculum-btn:hover {
            background-color: rgb(251, 251, 251, 0.2);
            height: 30px;
            border-radius: 30px;
            color: white;
            box-shadow: 2px 2px 5px  lightblue,
            2px 2px 8px  lightblue,
            2px 2px 11px  lightblue;
        }
    }

    .tecnologias {
        gap: 15px;
        .tech-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .front, .back, .hw, .learning, .tools {
                padding-bottom: 40px;
                padding-right: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .title {
                    font-size: 20px;
                    padding-bottom: 15px;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .front .title {
                background: -webkit-linear-gradient(#9bdad2, #087781);
            }
            .back .title {
                background: -webkit-linear-gradient(#ae9bda, #ad32ad);
            }
            .hw .title {
                background: -webkit-linear-gradient(#b1bfbd, #087781);
            }
            .learning .title {
                background: -webkit-linear-gradient(#d7c223, #eded16);
            }
            .tools .title {
                background: -webkit-linear-gradient(#b9abc1, #087781);
            }
            
            .tech-elem {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 15px;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
            }
        }
    }

    p {
        color: white;
    }
    
    span {
        color: rgb(223, 223, 223);
    }

    a:link, a:visited, a:active {
        text-decoration: none;
       color: lightblue;
    }

    @media screen and (max-width: 1000px) {
        .intro,  .experiencia, .proyectosWeb, 
        .proyectos, .sobreMi, .tecnologias{
            width: 80%;
        }

        .tecnologias .tech-list, .webProj-content {
            display: flex;
            flex-wrap: wrap;
        }

        .tecnologias .tech-list {
            .front, .back, .hw, .learning, .tools {
                padding-right: 0;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #c6ab8f;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #d4a373;
border-radius: 10px;
}
