<div class="main-content">
    <div class="intro-content">
        <p class="my-intro">
            ¡Hola! Soy Diego, un entusiasta del mundo digital con una pasión recién descubierta por el desarrollo front-end. Mi viaje comenzó en el fascinante campo de la ingeniería de computadores, donde exploré las complejidades del hardware y las maravillas de la tecnología.
    
            <br><br>
            Aunque mis raíces están en el mundo del hardware, mi curiosidad me llevó a explorar el vasto universo del desarrollo front-end. Desde que di el salto al desarrollo web, he estado inmerso en un emocionante viaje de aprendizaje y crecimiento constante.
    
            Mis primeros pasos en el desarrollo front-end fueron marcados por experiencias de prácticas en una empresa, donde pude aplicar mis conocimientos técnicos en un entorno empresarial real. Actualmente, me encuentro en un apasionante desafío como desarrollador front-end en una destacada empresa de telecomunicaciones, donde cada día me enfrento a nuevos retos y oportunidades de crecimiento profesional.
    
            Lo que más me motiva en este campo es la posibilidad de aprender y crecer continuamente. Mi sed de conocimiento me impulsa a sumergirme en nuevas tecnologías, explorar las últimas tendencias y profundizar en las mejores prácticas del desarrollo front-end.
    
            Estoy emocionado por participar en más proyectos web desafiantes, tanto en el ámbito profesional como personal.
            
            <br><br>
            Mi objetivo es seguir ampliando mis habilidades, contribuir al éxito de equipos multidisciplinarios y, en última instancia, crear mis propios proyectos innovadores que impacten positivamente en el mundo digital.
            <br><br>
            ¡Acompáñame en este emocionante viaje mientras exploramos juntos el apasionante mundo del desarrollo front-end!

            <br><br><br>
            ¡¡Ve a explorar la App!!
        </p>
    </div>
</div>
