<div class="main-content">
    <div class="intro-content">
        <p class="my-intro">
            ¡Hola! Soy Diego, un entusiasta del mundo digital con una pasión recién descubierta por el desarrollo front-end. Mi viaje comenzó en el fascinante campo de la ingeniería de computadores, donde exploré las complejidades del hardware y las maravillas de la tecnología.
    
            <br><br>
            ¡Hola! Soy Diego, un apasionado del desarrollo front-end. Mi trayectoria comenzó en la ingeniería de computadores, pero mi curiosidad me llevó al mundo del desarrollo web.

            Desde mis primeras prácticas, he crecido como desarrollador front-end. Actualmente, estoy enfocando en mejorar mis habilidades y finalizar mi proyecto de fin de grado. Me motiva la posibilidad de aprender y crecer continuamente, explorando nuevas tecnologías y tendencias.
            <br><br>
            Mi objetivo es seguir ampliando mis habilidades, contribuir al éxito de equipos multidisciplinarios y, en última instancia, crear mis propios proyectos innovadores que impacten positivamente en el mundo digital.
            <br><br>
            ¡Acompáñame en este emocionante viaje mientras exploramos juntos el apasionante mundo del desarrollo front-end!

            <br><br><br>
            ¡¡Ve a explorar la App!!
        </p>
    </div>
</div>
