<div class="content">
    <div class="quiz-content">
        <div class="quiz-intro" *="!start">
            <div class="img-title">
                <div class="logos">   
                    <img src="{{imgRoute}}/CSS3_logo_and_wordmark.png">
                    <img src="{{imgRoute}}/HTML5_logo_and_wordmark.png">
                    <img src="{{imgRoute}}/JavaScript-logo.png">
                </div>
                <label >¡¡Bienvenido al Front-End Quiz!!</label>
            </div>
            <button class="start-button" mat-button (click)="startQuiz()" >Start</button> 
        </div>
        <div class="quiz-qa" *ngIf="start">
            <div class="QA">
                <div class="question">
                    <label>{{question}}</label>
                    <mat-progress-bar class="progress-bar" mode="determinate" color="warn" [value]="progressBar"></mat-progress-bar>
                    <span *ngIf="quizCompleted">Quiz Completado!!!</span>
                </div>
                <div class="answers"> 
                    <button id="ansA" mat-button class="quiz-button" (click)="selectOpt('a')" [disabled]="nextQuestion || quizCompleted">{{opt1Lavel}}</button> 
                    <button id="ansB" mat-button class="quiz-button" (click)="selectOpt('b')" [disabled]="nextQuestion || quizCompleted">{{opt2Lavel}}</button> 
                    <button id="ansC" mat-button class="quiz-button" (click)="selectOpt('c')" [disabled]="nextQuestion || quizCompleted">{{opt3Lavel}}</button>
                    <button id="ansD" mat-button class="quiz-button" (click)="selectOpt('d')" [disabled]="nextQuestion || quizCompleted">{{opt4Lavel}}</button>
                </div>
            </div>
            <div class="reason-next">
                <button class="next-button" mat-button [disabled]="!nextQuestion || quizCompleted" (click)="changeQuestion()" >next</button> 
                <mat-expansion-panel class="reason" *ngIf="nextQuestion">
                    <mat-expansion-panel-header>Reason</mat-expansion-panel-header>
                    <mat-panel-description>{{reason}}</mat-panel-description>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>
