.content {
    height: 85vh;
    width: auto;
    background-color:  #faedcd;
    display: flex;
    justify-content: center;

    .quiz-content {
        background-color:  rgb(114, 121, 162);
        width: 100%;
        display: flex;
        justify-content: center;

        .quiz-intro {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 100%;

            .img-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .logos {
                    display: block;
                    padding-left: 30px;
                    img {
                        width: 100px;
                        object-fit: contain;
                    }
                }
            }
            

            .start-button {
                background-color: yellow;
                margin: 20px;
            }
        }

        .quiz-qa {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 800px;
            padding: 0 15px 0 15px;

            .reason-next {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 15px;
                .next-button {
                    margin-bottom: 15px;
                    width: 50px;
                    background-color: yellow;
                }
            }

            .QA {
                display: flex;
                flex-direction: row;

                .question {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-right: 10px;
                    width: 100%;
                    color: white;
                    font-size: 25px;
                    font-weight: bold;

                    .progress-bar {
                        padding: 20px;
                        width: calc(100% - 50px);
                        display: flex;
                        align-items: center;
                    }
                }
    
                .answers {
                    display: flex;
                    flex-direction: column;
                    padding-right: 10px;
                    width: 100%;

                    .quiz-button {
                        height: auto;
                        min-height: 30px;
                        margin: 5px;
                        background-color: rgb(132, 140, 188);
                        color: white;
                    }

                    .correct {
                        background-color: rgb(39, 212, 39);
                    }
        
                    .incorrect {
                        background-color: rgb(238, 44, 44);
                    }
                }
            }
        }
    }
}
